*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild

# 忽略unity asset文件，防止工程过大
/app/libs/unityLibrary-debug.aar
/ARModel/src/main/assets
/Projection/src/main/assets
/LearningSupport_ARGame.zip
/module
