<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.learningsupport_argame">

    <application
        android:name=".Navi.Utils.SDKInitializeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="learningsupport_argame"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.ar.core"
            android:value="optional" />

        <activity android:name=".Community.activity.FriendListActivity" />
        <activity android:name=".Task.activity.TaskListActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ARModel.ScanModelActivity" />
        <activity android:name=".ARModel.PutModelActivity" />

        <service android:name=".MonitorModel.MonitorTaskStatusService" />
        <service android:name=".MonitorModel.MonitorTaskAccomplishService" />
        <activity android:name=".MonitorModel.MonitorActivity" />

        <activity android:name=".UserManagement.Login.LoginActivity">
            <!--                    <activity android:name=".TestActivity">-->
            <!--        <activity android:name=".Course.CourseMainActivity">-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".FeedbackModel.MissionAccomplishActivity" />
        <activity android:name=".FeedbackModel.FeedbackDetailsActivity" />

        <activity android:name=".UserManagement.Login.RegisterActivity" />
        <activity android:name=".UserManagement.Login.ChangePasswordActivity" />
        <activity android:name=".UserManagement.UserMessage.FriendMessageActivity" />
        <activity android:name=".UserManagement.UserMessage.UserMessageActivity" />
        <activity android:name=".UserManagement.UserMessage.UserAccomplishTaskActivity" />
        <activity android:name=".UserManagement.UserMessage.UserAcceptedTaskActivity" />
        <activity android:name=".UserManagement.UserMessage.UserReleasedTaskActivity" />

        <activity android:name=".Course.CourseMainActivity" />
        <activity android:name=".Course.AddCourseActivity" />
        <activity android:name=".Course.CourseTimeActivity" />
        <activity android:name=".Course.ListView.ListViewActivity" />

        <activity android:name=".Navi.Activity.YoudaoActivity" />
        <activity android:name=".Navi.Activity.MapActivity" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="7tOMnGSPlfp1idETI8NOHneH5gz6Sdsp" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.baidu.location.service_v5_4_1" />
            </intent-filter>
        </service>


        <service android:name=".Navi.Utils.ForegroundService" />
        <service android:name=".Navi.Activity.LocationService" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.learningsupport_argame"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>

    <permission android:name="android.permission.WRITE_SETTINGS" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />


    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />

    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" /><!-- navigation_map -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!--获取设备网络状态，禁用后无法获取网络状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /><!--网络权限，当禁用后，无法进行检索等相关业务-->
    <uses-permission android:name="android.permission.INTERNET" /><!--读取设备硬件信息，统计数据-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /><!--取系统信息，包含系统版本等信息，用作统计-->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" /><!--获取设备的网络状态，鉴权所需网络代理-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /><!--允许sd卡写权限，需写入地图数据，禁用后无法显示地图-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--获取统计数据-->
    <!--<uses-permission android:name="android.permission.GET_TASKS" />-->

    <!--使用步行AR导航，配置Camera权限-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />

</manifest>